#pijs_org/*

# ignore everything in the root except the "wp-content" directory.
# !pijs_org/wp-content/
#!pijs_org/wp-content/themes

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
# pijs_org/wp-content/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

pijs-run.org/runs/*
