# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
#/wp-content/plugins/
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/
/wp-content/themes/analog/

# Example plugin
/wp-content/plugins/classic-editor
/wp-content/plugins/classic-widgets
/wp-content/plugins/hide-admin-bar
/wp-content/plugins/theme-check
/wp-content/plugins/wordpress-importer
/wp-content/plugins/*.php
/wp-content/plugins/*.zip
/wp-content/plugins/advanced-database-cleaner

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes